#login-main-cont {
    /* border: 1px solid red; */
    /* padding: 30px; */
}



/* .login-div {
    margin: auto;
    padding: 20px;
}

.login-div>Input {
    border: 1px solid grey;
    margin-bottom: 15px;
}


.login-div>Button {
    width: 100%;
    background-color: #20a87e;
    font-size: 20px;
}

.login-div>Button:hover {
    background-color: #1b8b67;
}

.login-div>h3 {
    margin-bottom: 20px;
} */

@media (max-width: 1024px) {
    .login-div {
        /* border: 1px solid red; */
        padding: 0px;
    }
}