.profile-main-con {
    /* border: 1px solid red; */
    text-align: center;
    background-color: #f3f3f3;
}

.Profile-1st-con {
    /* border: 1px solid red; */
    text-align: center;
    background-color: white;
    height: 150px;
    line-height: 0.5;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid grey;
}

svg {
    margin: auto;
}

.Profile-1st-con>div>button {
    background-color: #20A87E;
    border: none;
    padding: 2px 10px;
    cursor: pointer;
}

.Profile-2nd-con {
    /* border: 1px solid red; */
    /* height: 250px; */
    width: 80%;
    margin: auto;
    margin-top: 40px;
    padding: 40px;
    /* display: grid;
    grid-template-columns: repeat(2, 1fr); */
    display: flex;
    text-align: center;
    background-color: white;
}

.Profile-2nd-con>div {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Profile-2nd-con>div:nth-child(1) {
    /* border: 1px solid red; */
    border-right: 1px solid rgb(194, 193, 193);
}

.Profile-3rd-con {
    /* border: 1px solid green; */
    width: 80%;
    margin: auto;
    padding: 0px 0px;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
}

.Profile-3rd-con>div {
    /* border: 1px solid red; */
    /* height: 200px; */
    text-align: center;
    padding: 80px 0px 0px 0px;
    background-color: white;
}

.Profile-3rd-con>div>a {
    text-decoration: none;
    color: black;
}

.Profile-3rd-con>div>a>p {
    /* border: 1px solid hotpink; */
    height: 100px;
    width: 64%;
    margin: auto;
}

.Profile-3rd-container-child-2 {
    /* border: 1px solid green; */
    /* width: 56%; */
    margin: auto;
    padding: 40px 0px;
    margin-top: 80px;
    border-top: 1px solid rgb(198, 196, 196);

}

.Profile-3rd-container-child-2>p {
    /* border: 1px solid gold; */
    height: 60px;
    width: 62%;
    margin: auto;
}

.Profile-3rd-container-child-2>button {
    padding: 10px 100px;
    font-weight: bold;
    margin-top: 20px;
    border: none;
    background-color: #20A87E;
}

.Profile-3rd-container-child-2>button:hover {
    color: grey;
}

.Profile-4th-con {
    /* border: 1px solid red; */
    text-align: center;
    /* height: 400px; */
    width: 80%;
    margin: auto;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

.Profile-4th-con>div {
    /* border: 1px solid green; */
    height: 350px;
    background-color: white;
}

.Profile-4th-con>div>img {
    width: 100%;
    height: 100%;
}

.Profile-4th-con>div>div>p {
    /* border: 1px solid goldenrod; */
    width: 60%;
    margin: auto;
}

@media screen and (max-width:1020px) {
    .profile-main-con {
        /* border: 1px solid red; */
        width: 100%;
    }

    .Profile-2nd-con {
        /* border: 1px solid khaki; */
        width: 80%;
    }

    .Profile-2nd-con p {
        /* border: 1px solid goldenrod; */
        width: 80%;
        margin: auto;
    }

    .Profile-3rd-con {
        /* border: 1px solid red; */
        width: 90%;
    }

    .Profile-3rd-con>div>a>p,
    .Profile-3rd-container-child-2>p {
        /* border: 1px solid green; */
        height: 100px;
        width: 80%;
    }

    .Profile-4th-con {
        /* border: 1px solid rgb(128, 0, 92); */
        width: 90%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width:667px) {


    .profile-main-con {
        /* border: 1px solid red; */
        width: 100%;
    }

    .profile-main-con p {
        font-size: 25px;
    }

    .Profile-1st-con {
        padding: 100px 0px;
    }

    .Profile-1st-con>div>p {
        /* border: 1px solid red; */
        font-size: 20px;
        height: 50px;
        line-height: 20px;
    }

    .Profile-1st-con>div>button {
        /* border: 1px solid green; */
        font-size: 25px;
        border-radius: 10px;
        padding: 10px;
        font-weight: bold;
    }

    .Profile-1st-con h2 {
        font-size: 40px;
        margin-top: 40px;
    }

    .Profile-2nd-con {
        /* border: 1px solid goldenrod; */
        display: flex;
        flex-direction: column;
        gap: 40px;
    }

    .Profile-2nd-con>div>div>p {
        font-size: 20px;
        /* border: 1px solid green; */
    }

    .Profile-2nd-con>div:nth-child(1) {
        border: none;
        padding-bottom: 20px;
        border-bottom: 1px solid rgb(190, 187, 187);
    }

    .Profile-3rd-con {
        /* border: 1px solid green; */
        display: flex;
        flex-direction: column;
    }

    .Profile-3rd-con p {
        /* border: 1px solid red; */
        height: auto;
        font-size: 20px;
    }

    .Profile-4th-con {
        display: flex;
        flex-direction: column;
    }

    .Profile-4th-con>div {
        height: 400px;
    }

    .Profile-4th-con>div:nth-child(5) {
        /* border: 4px solid green; */
        position: unset;
    }

    .Profile-4th-con h3 {
        font-size: 40px;
    }

    .Profile-4th-con p {
        font-size: 20px;
        /* border: 1px solid green; */
    }
}